<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="authentication-body">
<div class="authentication-wrapper">
    <div th:fragment="formDialog" class="popup-dialog  form-dialog">
    <main>
        <header>
            <h1>Top Up</h1>
            <a href="javascript:;" class="close-button">
                <i class="fas fa-window-close"></i>
            </a>
        </header>
        <div>
            <form method="get" th:action="@{/buyer/topUp}">
                <table>
                    <input type="hidden">
                    <div>
                        <label> Add Funds</label>
                    </div>
                    <tr>
                        <td>
                        <input class="top-up-number-box" type="number" name="topUp" >
                        <div class="validation-message" data-for="topUp"></div>
                        </td>
                    </tr>

                </table>
                <button class="green-button-topUp" type="submit"><i class="fas fa-money-bill-wave-alt"></i> Top Up</button>
            </form>
        </div>

    </main>
    </div>
</div>

</body>
</html>