<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<div th:replace="~{layout :: nav-bar(Shop)}"></div>

<div class="main-wrapper">
    <div class="grid-tiles product-index">
        <form class="filter" method="get" th:action="@{/shop/index}">
                    <div>
                        <input type="text" name="name" placeholder="Name..">
                    </div>
                    <div>
                        <input type="text" name="category" placeholder="category..">
                    </div>
                    <div>
                        <input type="text" name="description" placeholder="description..">
                    </div>
                    <div>
                        <button type="submit" class="blue-button">Search</button>
                    </div>
        </form>
    <div class="tiles-container">
        <div class="tile" th:each="tile : ${grid}" th:object="${tile}">
            <div class="name" th:text="*{name}"></div>
            <div class="image-container" th:if="*{imagePath == null}">
                <img th:src="@{/resources/image/product/no-image.jpg}">
            </div>
            <div class="image-container" th:if="*{imagePath != null}">
                <img th:src="@{/resources/image/product/{path}(path=*{imagePath})}">
            </div>
<!--            <div class="button-wrapper">-->
<!--                <a th:href="@{/product/upsertForm(id=*{id})}" class="blue-button update-button">Edit</a>-->
<!--                <a th:href="@{/product/delete(id=*{id})}" class="blue-button delete-button">Delete</a>-->
<!--            </div>-->
<!--            <div class="supplier" th:text="*{supplier}"></div>-->
<!--            <div class="category" th:text="*{category}"></div>-->
            <div class="price" th:text="*{#numbers.formatCurrency(price)}"></div>
            <div class="description" th:text="*{description}"></div>
            <div>
                <a href="javascript:;"  th:attr="data-id=*{id}" class="green-button add-cart-button"><i class="fas fa-cart-plus"></i> Add to Cart</a>
            </div>

        </div>
    </div>
        <tr>
            <td colspan="3">
                <div class="pagination">
                    <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                    <div th:if="${totalPages != 0}">
                        <a th:each="number : ${#numbers.sequence(1,totalPages)}"
                           th:text="${number}"
                           th:href="@{/shop/index(page=${number})}"></a>
                    </div>
                    <div th:unless="${totalPages != 0}">
                        Data not found!
                    </div>
                </div>
            </td>
        </tr>
  </div>
</div>
<footer th:replace="~{layout :: footer}">
</footer>
<div class="modal-layer">
    <th:block th:replace="~{shop/shop-popup-detail :: detailDialog}" ></th:block>
    <th:block th:replace="~{shop/shop-popup-form :: formDialog}" ></th:block>
</div>
<script th:src="@{/resources/js/shop/shop-popup.js}">
</script>
</body>
</html>