<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.orf">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="formDialog" class="popup-dialog  form-dialog">
    <header>
        <h1>Shipment Form</h1>
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
    </header>
    <form>
        <table>
            <input type="hidden" name="id" class="shipperId">
            <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" class="name">
                    <div class="validation-message" data-for="name"></div>

                </td>
            </tr>

            <tr>
                <td>Price</td>
                <td>
                    <input type="text" class="price">
                    <div class="validation-message" data-for="price"></div>

                </td>
            </tr>

            <tr class="service-input">
                <td>Service</td>
                <td>
                    <input type="checkbox"   class="service"  checked>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="blue-button">Submit</button>
    </form>

</div>
</body>
</html>